.copiedContent{
    padding: 3px 3px 3px 10px;
    text-align: left;
    max-height: 300px;
    max-width:400px;
    min-height:200px;
    min-width:300px;
    border: 1px solid gray;
    overflow: hidden;
}
.dragIt{
    min-width:300px;
    text-align: right;
    cursor: pointer;
}
.dragIt img{
    width: 15px;
    height: 15px;
}
.copiedParent{
    width: 300px;
}